# Python
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Database
*.sqlite
*.db
chat.db

# Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
.DS_Store
